@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 1024px) {
	.header-bottom .container{
		background: #ea502c;
	}
	.header-bottom .container .left .l-more{
		color:white!important;
	}
	.header-bottom .container .left .l-more .sep{
		background: white;
	}
	.header-bottom .container .right .l-more{
		color:#202427!important;
	}
	.header-bottom .container .right .l-more .sep{
		background: #202427;
	}
	.header-bottom .container .title{
		font-size:32px;
	}
	.header-bottom .container .desc{
		font-size:14px;
	}
}

@media only screen and (max-width : 768px) {
	.topmenu .container{
		align-items: center;
	}
	.mobile-menu-toggle{
		display: block;
	}
	.menu{
		display: none;
	}
	.menucontact{
		display: none;
	}
	.menu-list{
		display: none;
	}
	.header .text{
		font-size:65px;
	}
	.header .text span:last-child{
		margin-top:-13px;
	}
	.header-bottom .container .title{
		font-size:24px;
	}
	.header-bottom .container .desc{
		font-size:12px;
		line-height: 16px;
	}
	.hw .placement{
		display: none;
	}
	.hw .center{
		display: none;
	}
	.hw .left{
		width: 49%;
	}
	.hw .right{
		width: 49%;
	}
	.en-carousel .item .content p{
		font-size:14px;
	}

	.footer .menu{
		display: none;
	}
	.c-img{
		display: none;
	}
	.contact-form .map{
		width: 100%;
		height: 300px;
	}
	.contact-form .map iframe{
		height: 300px;
	}
	.contact-form .form{
		width: 100%;
	}
	.contact-form{
		flex-direction: column;
	}
	.features .f-item span{
		font-size:16px;
	}
	.features2 .item{
		flex-direction: column;
	}
	.features2 .item img{
		width: 100%!important;
		margin-bottom: 30px;
	}
	.dk .img{
		height:350px;
		margin-bottom:30px;
	}
}

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 565px) {
		.header .text{
			font-size:40px;
		}
		.header-bottom .container{
			flex-direction: column;
			height: auto;
		}
		.header-bottom .container .seperator{
			display: none;
		}
		.header-bottom .container .left{
			width: 100%;
			padding: 0;
			margin-bottom: 15px;
		}
		.header-bottom .container .right{
			width: 100%;
			padding: 0;
			margin-bottom: 15px;
		}
		.hw .container{
			padding-left:15px;
			padding-right: 15px;
			flex-direction: column;
		}
		.hw .left{
			width: 100%;
		}
		.hw .right{
			width: 100%;
		}
		.hw .appstore{
			align-items: center;
		}
		.hw .appstore img{
			margin-bottom: 20px;
		}
		.hw .appstore .apple{
			margin-right: 0;
		}
		.en-carousel .container{
			padding-left: 15px!important;
			padding-right: 15px!important;
		}
		.hw-system .box{
			margin-bottom: 45px;
		}
		.hw-system .box:last-child{
			margin-bottom: 0;
		}
		.footer .news{
			margin-top: 30px;
			margin-bottom: 30px;
		}
		.contact-form .form{
			padding: 0;
		}
		.features2 .join-us{
			width: 100%;
			font-size:16px;
		}
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }
