.topmenu{


	background: url('../img/menu-shadow.png');
    width: 100%;
	height: 416px;
	padding-top: 27px;
    position: absolute;
}

.mobile-menu{
	width: 100%;
	height: 100vh;
	background: #ea502c;
	position: fixed;
	top: 0;
	z-index: 9999;
	display: none;
	align-items: center;
	justify-content: center;
}
.mobile-menu .mm-close{
	position: absolute;
	top: 20px;
	right: 20px;
}
.mobile-menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.mobile-menu ul li{
	margin-bottom: 20px;
}
.mobile-menu ul li a{
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	color:white;
	font-size:26px;
}
.mobile-menu-toggle{
	display: none;
	cursor:pointer;
}
.topmenu .container{
	display: flex;
	justify-content: space-between;
}
.menucontact{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 25px;
}
.menucontact .mc-email{
	margin-right:50px;
}
.menucontact .mc-email img{
	margin-right:18px;
}
.menucontact .mc-email span{
	font-size:15px;
	color:#a9a9a9;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.menucontact .mc-phone{
	margin-right:50px;
}
.menucontact .mc-phone img{
	margin-right:18px;
}
.menucontact .mc-phone span{
	font-size:15px;
	color:#e64f2c;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.mc-social .social-link{
	margin-right: 20px;
}
.mc-social .social-link:last-child{
	margin-right: 0;
}
.menu-list ul{
	list-style-type: none;
	display: flex;
}
.menu-list ul li{
	margin-right:20px;
}
.menu-list ul li:last-child{
	margin-right: 0;
}
.menu-list ul li a{
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	color:white;
	font-size:16px;
}
.header{
	background:url('../img/slide-bg.png') center center;
	width: 100%;
	height: 100vh;
	background-size:cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header.subpage{
	width: 100%;
	height: 340px;
	background-size:cover;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}
.header.subpage .title{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color:white;
	font-size:45px;
	z-index: 9998;
	position: absolute;
}
.header.subpage.about{
	background:url('../img/about-bg.png') center center;
	background-repeat: no-repeat;
	background-size:cover;
}
.header.subpage.sss{
	background:url('../img/sss.png') center center;
	background-repeat: no-repeat;
	background-size:cover;
}
.header.subpage.contact{
	background:url('../img/contact-bg.png') center center;
	background-repeat: no-repeat;
	background-size:cover;
}
.header.subpage.bilim{
	background:url('../img/bilim-bg.jpg') center center;
	background-repeat: no-repeat;
	background-size:cover;
}
.header.subpage.blog{
	background:url('../img/blog-bg.jpg') center center;
	background-repeat: no-repeat;
	background-size:cover;
}
.header.subpage.test{
	background:url('../img/test-bg.jpg') center center;
	background-repeat: no-repeat;
	background-size:cover;
}
.header.subpage.ik{
	background:url('../img/ik-bg.png') center center;
	background-repeat: no-repeat;
	background-size:cover;
}
.header .text{
	font-size:80px;
	color:white;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	line-height: 108px;
}
.header .text a{
	margin-top: 50px;
}
.header .text span{

}
.header .text span:first-child{
	font-weight: 300;
}
.header .text span:last-child{
	font-weight: 700;

}
.header-bottom {
	margin-top:-80px;
}
.header-bottom .container{
	display: flex;
	height: 280px;

	background: url('../img/en-bg.png');
}
.header-bottom .container .left{
	width: 50%;
}
.header-bottom .container .right{
	width: 50%;
}
.header-bottom .container .seperator{
	width: 55px;
	height: 4px;
}
.header-bottom .container .left{
	padding-left:50px;
	padding-right:100px;
	padding-top: 36px;
	padding-bottom: 36px;
}
.header-bottom .container .right{
	padding-left:72px;
	padding-right:120px;
	padding-top: 36px;
	padding-bottom: 36px;
}
.header-bottom .container .title{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size:48px;
	margin-top:15px;
	margin-bottom:10px;
}
.header-bottom .container .title.white{
	color:white;
}
.header-bottom .container .title.gray{
	color:#202427;
}
.header-bottom .container .desc{
	font-size:18px;
	color:#e0e0e0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 25px;
}
.header-bottom .container .desc.white{
	color:white;
}
.header-bottom .container .desc.gray{
	color:#202427;
}
.header-bottom .container .l-more{
	color:#ea502c;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size:14px;
	position: relative;
	width: 100px;
	display: flex;
	flex-direction: column;
}
.header-bottom .container .l-more:hover{
	text-decoration: none;
}
.header-bottom .container .l-more .sep{
	width: 65%;
	height: 2px;
	background: #ea502c;
	margin-top: 8px;
}
.header-bottom .container .seperator.white{
	background: white;
}
.header-bottom .container .seperator.gray{
	background:#202427;
}
.hw{
	margin-top:40px;
}
.hw .hw-title h3{
	color:#ea502c;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size:18px;
}
.hw .hw-title{
	margin-bottom:25px;
}
.hw .hw-title h1{
	color:#1e2023;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size:40px;
}
.hw .container{
	display: flex;
	justify-content: space-between;
	padding: 0;
}
.hw .left{
	width: 45%;
	display: flex;
}
.hw .center{
	width: 10%;
	text-align: center;
	padding-top: 26px;
}
.hw .right{
	width: 45%;
	display: flex;
}
.hw .left .placement2{
	margin-top:30px;
}
.hw  .placement span{
	color:#ea502c;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size:48px;
}
.hw  .placement{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 30px;
}
.hw .step{
	display: flex;
	padding-top: 15px;
	border-bottom:1px solid #ededed;
	margin-bottom:15px;
}

.hw .step.second .text h1{
	margin-top:20px;
}
.hw .step.third {
	border-bottom:0;
}
.hw .step.third .text h1{
	margin-top:45px;
}
.hw .step .text h1{
	color:#1e2023;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size:20px;
	margin-bottom:20px;
}
.hw .step .text p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size:14px;
	color:#999999;
	padding-right: 5px;
}
.hw .appstore{
	justify-content: center!important;
	margin-top:40px;
}
.hw .appstore .apple{
	margin-right:30px;
}
.en-carousel{
	padding-top:110px;
	padding-bottom:110px;
	background:#13191d;
	margin-top:80px;
}
.en-carousel .container{
	max-width:100%;
	margin: 0!important;
	padding: 0!important;
}
.en-carousel .row{
	margin:0;
}
.en-carousel .item{
	position:relative;
}
.en-carousel .item img{
	width:100%;
	height:auto;
}
.en-carousel .item .content{
	position:absolute;
	bottom:10px;
	left:20px;
}
.en-carousel .item .content h2{
	color:white;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size:24px;
}
.en-carousel .item .content p{
	color:white;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size:16px;
	height:100px;
}
.hw-system{
	background: #fcfcfc;
	padding-top: 100px;
	padding-bottom: 120px;
}
.hw-system .title{
	text-align: center;
	color:#070707;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size:40px;
	margin-bottom: 60px;
}
.hw-system .row{
	justify-content: center;
}
.hw-system .box{
	position: relative;
	transition: transform .2s;
	margin-bottom:20px;
}
.hw-system .box:hover{
	transform: scale(1.05);
}
.hw-system .box .number{
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background: #ea502c;
	border:5px solid white;
	position: absolute;
	top:-20px;
	left:0px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:white;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size:20px;
}
.hw-system .box .number span{

}
.hw-system .box-inner{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	background: white;
	border:1px solid #ecedee;
	min-height: 350px;

}
.hw-system .box-inner .b-title{
	color:#070707;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size:20px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.hw-system .box-inner .b-desc{
	color:#6e6e6e;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size:15px;
}
.dk{
	padding-top:85px;
	padding-bottom:85px;
}
.dk .img{
	width: 100%;
	height: 100%;
	background: url('../img/diet-technology.jpg');
	background-size: cover;
}
.dk .img.microbiome{
	background: url('../img/microbiome.jpg');
	background-size: cover;
}
.dk .img.healthy{
	background: url('../img/healthy-unhealthy.png');
	background-size: cover;
	background-position: center center;
}
.dk .title{
	color:#1e2023;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size:40px;
	margin-bottom: 20px;
}
.dk .desc{
	color:#999999;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
.footer{
	background:#161619;
	padding-top:100px;
}
.footer .top{
	padding-bottom:40px;
}
.footer .title{
	color:#fef9f9;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size:18px;
	margin-bottom:30px;
}
.footer .logo{
	margin-bottom:25px;
}
.footer .desc{
	color:#c9c9c9;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	margin-bottom:30px;
}
.footer .desc ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.footer .desc ul li{
	margin-bottom:15px;
}
.footer .desc ul a{
	color:#c9c9c9;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
}
.footer .menu ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.footer .menu ul li{
	margin-bottom:15px;
}
.footer .menu ul a{
	color:#c9c9c9;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
}
.footer .news ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.footer .news ul li{
	margin-bottom:15px;
}
.footer .news ul a{
	color:#c9c9c9;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
}
.footer .news ul span{
	color:#576673;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 13px;
}

.footer .address ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.footer .address ul li{
	margin-bottom:25px;
	display: flex;
	align-items: center;

}
.footer .address ul li img{
	margin-right:30px;
}
.footer .address ul li span{
	color:#576673;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 13px;
}
.footer .bottom{
	border:1px solid #333333;
	padding-top:20px;
	padding-bottom:20px;
	text-align: center;
}
.about-info .row{


}
.about-info .info-box{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	padding:30px;
}
.about-info .info-box:last-child{
	border:0;
}
.about-info .info-box .text{
	margin-left: 15px;
}
.about-info .info-box .text h2{
	color:#1e2023;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size:18px;
}
.about-info .info-box .text p{
	color:#999999;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size:14px;
}

.team{
	padding-top: 100px;
	padding-bottom: 100px;
	background: #212831;
}
.team .title{
	text-align: center;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 60px;
}
.team .item{
	position:relative;
}
.team .item .content{
	position: absolute;
	bottom: 0;
	text-align: center;
	width:100%;
}
.team .item .t-name{
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.team .item .t-title{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
}
.sss-wrapper{
	margin-top: 120px;
}

.sss .title{
	color: #23282a;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 26px;
	margin-bottom: 15px;
}
.sss .subtitle{
	color: #565656;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 40px;
}
.sss #accordion{
	margin-bottom: 120px;
}
.sss .card-header{
	background: white;
	border-radius: 0;
	border:0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0;
	padding-bottom: 0;
}
.sss .card-header .btn{
	width: 100%;
    display: flex;
    justify-content: space-between;
	text-decoration: none!important;
	color: #23282a;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 18px;
	align-items: center;
	text-align: left;
}
.sss .card-header .btn .i{
	font-size: 30px;
}
.sss .card-header .btn:hover{
	text-decoration: none;
}
.sss .card-header .btn.collapsed{
	text-decoration: none;
}
.sss .card{
	border-radius: 0;
}
.sss .card-body{
	color: #999999;
	padding-top: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
.address-info {
	margin-top:40px;
}
.address-info .title{
	color: #23282a;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 36px;
}
.address-info .info-row .text{
	color: #565656;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 30px;
	margin-top: 20px;
}
.address-info .info-row ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.address-info .info-row ul li{
	display: flex;
	align-items: flex-start;
}
.address-info .info-row ul li img{
	margin-right: 30px;
}
.address-info .info-row .content h3{
	color: #23282a;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 16px;
}
.address-info .info-row .content p{
	color: #9d9d9d;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
}
.contact-form{
	margin-top: 100px;
	display: flex;
}
.contact-form .map{
	width: 50%;
	height: 600px;
}
.contact-form .map iframe{
	width: 100%;
	height: 600px;
}
.contact-form .form{
	background: #202020;
	width: 50%;
	height: 600px;
	padding-left: 40px;
	padding-right: 80px;
}
.contact-form .form h2{
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 36px;
	margin-top:70px;
	margin-bottom:50px;
}
.contact-form .form .form-input input{
	width: 100%;
	background: #202020;
	border:0;
	border-bottom:2px solid #646464;
	padding-bottom: 17px;
	color: #757575;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	outline:none;
}
.contact-form .form .form-input textarea{
	width: 100%;
	background: #202020;
	border:0;
	border-bottom:2px solid #646464;
	padding-bottom: 17px;
	color: #757575;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	outline:none;
	resize:none;
}
.contact-form .form .form-button{
	padding-left: 42px;
	padding-right: 42px;
	width: 135px;
	height: 40px;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 14px;
	border:2px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-form .form .form-button:hover{
	color:#e64f2c;
	text-decoration: none;
	border-color:#e64f2c;
}
.bilim-content .text{
	color: #565656;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-top: 70px;
	    margin-bottom: 100px;
}
.bilim-content .row{
	margin-top: 60px;
	margin-bottom: 30px;
}
.bilim-content .box{
	margin-bottom: 30px;
}
.bilim-content .box img{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.bilim-content .box h2{
	color: #333333;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 20px;
}
.bilim-content .box p{
	color: #565656;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.test-content .text{
	color: #565656;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-top: 70px;
}

.features{
	margin-top:50px;
	padding-top: 90px;
	padding-bottom: 60px;
	background:#1d232b;
}
.features .f-item{
	padding-left:25px;
	padding-right: 25px;
	height: 100px;
	background: #12181e;
	display: flex;
	align-items: center;
	margin-bottom:30px;
}
.features .f-item img{
	margin-right: 30px;
}
.features .f-item span{
	color: #ea502c;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 19px;
}
.features2{
	margin-top:100px;
}
.features2 .item{
	display: flex;
	margin-bottom:60px;
}
.features2 .item img{
	margin-right:20px;
}
.features2 .item h3{
	color: #000000;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 33px;
	margin-bottom:15px;
}
.features2 .item p{
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.join-us{
	width: 500px;
	height: 70px;
	background: #ea502c;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.join-us:hover{
	color:white;
}
.ik-form .form-input{
	margin-bottom:30px;
}
.ik-form .form-input input{
	width: 100%;
	background: #202020;
	border:0;
	border-bottom:2px solid #646464;
	padding-bottom: 17px;
	color: #757575;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	outline:none;
}
.ik-form .form-input textarea{
	width: 100%;
	background: #202020;
	border:0;
	border-bottom:2px solid #646464;
	padding-bottom: 17px;
	color: #757575;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	outline:none;
	resize:none;
}
.ik-form .form-button{
	padding-left: 42px;
	padding-right: 42px;
	width: 135px;
	height: 40px;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 14px;
	border:2px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ik-form .form-button:hover{
	color:#e64f2c;
	text-decoration: none;
	border-color:#e64f2c;
}

.enblog {

	margin-bottom:100px;
}
.enblog .title{
	color:#1e2023;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size:40px;
	margin-bottom: 80px;
	text-align: center;
}
.enblog .item{
	margin-bottom: 40px;
}
.enblog .image{
	position: relative;
}
.enblog .image .cat{
	position: absolute;
	bottom:0;
	left:0;
	padding-left:18px;
	padding-right:18px;
	padding-top:8px;
	padding-bottom: 8px;
	background: #ea502c;
	color:#fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size:13px;
}
.enblog .b-title{
	margin-top:35px;
	display: flex;
	flex-direction: column;
}
.enblog .b-title h2{
	color:#070707;
	font-size:20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.enblog .b-title span{
	color:#868686;
	font-size:16px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

.enblog .desc{
	color:#999999;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-top: 25px;
}
.enblog .readmore{
	color:#000000;
	font-size:14px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	display: table;
}
.enblog .readmore:hover{
	color:#ea502c;
	text-decoration: none!important;
}
.enblog .readmore:hover .sep{
	background-color:#ea502c;
}
.enblog .readmore .sep{
	width: 100%;
	height: 2px;
	background: #000000;
	margin-top: 5px;
}

.post-text .thumb{
	background-size: cover;
	width: 100%;
	height: 450px;
	margin-top: 120px;
}

.post-text .title{
	color:#070707;
	font-size:24px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	margin-top:45px;
}
.post-text .date{
	color:#868686;
	font-size:16px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}
.post-text .post-header{
	margin-bottom:30px;
}
.post-text .post-content{
	color:#999999;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.post-text .post-content p{
	margin-bottom:30px;
}
.post-text .post-content img{
	margin-top:25px;
	margin-bottom:25px;
}
.post-text .post-content a{
	color:#e64f2c;
}
.post-footer{
	border-top:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 40px;
	margin-bottom:120px;
}
.post-footer .row{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.post-footer .tag{
	display: flex;
}
.post-footer .tag span{
	color:#3f3e3e;
	font-size:14px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	margin-right: 20px;
}
.post-footer .tag ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.post-footer .tag ul li{
	margin-right: 10px;
	color:#404040;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
#cart-icon {
    position: relative;
    background: url('http://www.clker.com/cliparts/U/D/n/G/6/h/white-shopping-cart-md.png') 2px 8px no-repeat;
    background-size: 20px;
    padding-left: 30px;
}
.dropbtn {
	background:none;
	color: white;
	font-size: 16px;
	border: none;
	font-family:  'Oswald', sans-serif;
	font-weight: bold;
  }

  .dropdown {
	position: relative;
	display: inline-block;
	font-family:  'Oswald', sans-serif;
	font-weight: bold;
  }

  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	font-family:  'Oswald', sans-serif;
  }

  .dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
	font-family:  'Oswald', sans-serif;
  }

  .dropdown-content a:hover {background-color: #ddd;font-family:  'Oswald', sans-serif;}

  .dropdown:hover .dropdown-content {display: block;font-family:  'Oswald', sans-serif;}

  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
/*  Cart Icon */
#products-cart {
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color: #ea502c;
color: white;
cursor: pointer;
padding: 15px;
border-radius: 4px;
border: solid 2px rgba(255, 255, 255, 0.5);
}

#products-cart:hover {
text-decoration: none;
}

/* Cart Table */
.main-section{
    background-color: #F8F8F8;
}
.dropdown{
    float:right;
    padding-right: 30px;
}
.btn{
    border:0px;
    margin:10px 0px;
    box-shadow:none !important;
}
.dropdown .dropdown-menu{
    padding:20px;
    top:30px !important;
    width:350px !important;
    left:-110px !important;
    box-shadow:0px 5px 30px black;
}
.total-header-section{
    border-bottom:1px solid #d2d2d2;
}
.total-section p{
    margin-bottom:20px;
}
.cart-detail{
    padding:15px 0px;
}
.cart-detail-img img{
    width:100%;
    height:100%;
    padding-left:15px;
}
.cart-detail-product p{
    margin:0px;
    color:#000;
    font-weight:500;
}
.cart-detail .price{
    font-size:12px;
    margin-right:10px;
    font-weight:500;
}
.cart-detail .count{
    color:#C2C2DC;
}
.checkout{
    border-top:1px solid #d2d2d2;
    padding-top: 15px;
}
.checkout .btn-primary{
    border-radius:50px;
    height:50px;
}
.dropdown-menu:before{
    content: " ";
    position:absolute;
    top:-20px;
    right:50px;
    border:10px solid transparent;
    border-bottom-color:#fff;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption{
    margin: 7px;
}

.page {
    margin-top: 50px;
}

.btn-holder{
    text-align: center;
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }

    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }

    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { ; color: #000; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }



    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}
}



.scrolling-offer {
    position: fixed;
    display: none;
    align-items: center;
    top: 0;
    height: 60px;
    width: 100vw;
    z-index: 20;
    background-color: #fff;
    border: 1px solid #ecedee;
}
.scrolling-offer-text{
	margin-right: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}

.scrolling-offer .item{
	display: flex;
	justify-content: center;
	align-items: center;
}

.sobtn{
    padding: 4px 22px 0 22px;
	height: 30px;
	background: #ea502c;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 15px;
	position: relative;
    display: inline-flex;
    flex-direction: row;
    border-radius: 5px;
    border: none;
    white-space: nowrap;
}
.sobtn:hover{
	color:white;
	text-decoration: none;
}

.product-desc p{
	color: #999999;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
.product-desc ul{
	list-style-type: none;
	padding:0;
}
.product-desc ul li{
	color: #999999;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin-bottom:10px;
}
.order-now {
	margin-bottom: 80px;
}
.order-now .title{
	text-align: center;
    color: #070707;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 60px;
}
.order-summary{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
	padding:20px;

}
.gi_product_box {
    display: flex;
    flex: 1 1 100%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.gi_product_box_row {
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
}
.gi_product_box_graphic {
    padding-bottom: 20px;
    flex: 0 0 50%;
}
.gi_product_box_title_row {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
	text-align: right;
}

.gi_product_box_quantity {
    text-align: right;
}

.quantity__modify_row {
    text-align: right;
    margin-bottom: 24px;
}
.quantity__modify {
    border-radius: 3px;
    border: solid 1px #41c6ec;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
}

.os-product-name{
	color: #070707;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 17px;
}
.os-summary-list{
	padding:0;
	list-style-type: none;
	margin-top:20px;
}
.os-summary-list li{
	color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
	display:flex;
	justify-content: space-between;
}

.order-form{
	padding-top:100px;
	margin-bottom:100px;
}

.order-summary.form label{
	font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.order-summary.form .form-control{
	font-family: 'Open Sans', sans-serif;
}
.order-summary.form h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.payment-button{
	width: 100%;
	border:0;
	border-radius:5px;
	height: 70px;
	background: #ea502c;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-lang{
	list-style-type:none;padding:0;display:flex;margin-top:10px;margin-bottom:0;
}
.footer-lang li {
	margin-bottom:0;
}
.footer-lang li a{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 15px;
	color:white;
}
