a:hover{
	text-decoration: none;
}

.mobile-menu{
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	background: rgba(255,255,255,0.8);
	z-index: 9998;
	justify-content:center;
	align-items: center;
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		li{
			text-align: center;
			margin-bottom: 20px;
			a{
				font-family: 'Montserrat', sans-serif;
				font-size: 32px;
				font-weight: 700;
				color:#58c4d9;
			}
		}
	}
}
.mobile-menu-button{
	display: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color:#333333;
	position: relative;
	z-index: 9999;
}
.link-btn{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding: 15px 80px;
	border-radius: 5px;
	&--orange{
		background-color:#e8957e;
		color: #FFFFFF;
		&:hover{
			color:#ffffff;
		}
	}
	&--white{
		color:#63a5b5;
		background-color:#FFFFFF;
		&:hover{
			color:#63a5b5;
		}
	}
	&--border{
		color:#e8957e;
		background-color: none;
		border:2px solid #e8957e;
		padding-top:13px;
		padding-bottom: 13px;
		&:hover{
			color:#e8957e;
		}
	}
}
.bilim-content{
	font-family: 'Montserrat', sans-serif;
	padding-top:50px;
	padding-bottom: 50px;
}
.topmenu{
	width: 100%;
	top:30px;
	position: absolute;
	&--subpage{
		background: white;
		top:0;
		position: relative;
		height: 120px;
		display: flex;
		align-items: center;
	}
	&__row{
		justify-content: space-between;
		align-items: center;
	}
	&__logo{
		img{
			width: 220px;
		}
	}
	&__menu{
		ul{
			margin-bottom: 0;
			padding: 0;
			list-style-type: none;
			display: flex;
		}
		li{
			margin-right: 25px;
			a{
				font-family: 'Montserrat', sans-serif;
				font-size: 14px;
				font-weight: 600;
				color: #696969;
				&:hover{
					color:#e8957e;
				}
			}
		}
	}
}

.footer{
	width: 100%;
	margin-top: 40px;
	&--contact{
		margin-top: 0;
	}
	&__bg{
		width: 100%;
		height: 480px;
		background-image: url(../img/contact-bg.webp);
		background-size:cover;
		background-repeat: no-repeat;
		background-position: center;
		iframe{
			width: 100%;
			height: 480px;
		}
	}
	&__box{
		border-style: solid;
		border-width: 1px;
		border-color: rgb(238, 238, 238);
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
		padding-top: 100px;
		padding-bottom: 100px;
		margin-top: -200px;
		display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
	}
	&__logo{
		margin-bottom: 50px;
		img{
			width: 260px;
			height: auto;
		}
	}
	&__menu{
		margin-bottom:20px;
		ul{
			padding: 0;
			list-style-type:none;
			display: flex;
			margin: 0;
			justify-content: center;
			&:first-child{
				margin-bottom: 30px;
			}
			li{
				margin-right: 30px;
				a{
					color:#757575;
					font-family: 'Montserrat', sans-serif;
					font-size: 14px;
					font-weight: 700;
					&:hover{
						color:#e8957e;
					}
				}

			}
		}
	}
	&__socials{
		margin-bottom: 50px;
		ul{
			padding: 0;
			list-style-type: none;
			display: flex;
			margin: 0;
			li{
				width: 45px;
				height: 45px;
				border-radius: 50%;
				background-color: #eeeeee;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: 15px;
			}
		}
	}
	&__contact{
		display: flex;
		flex-direction: column;
		text-align: center;
		&__title{
			color:#333333;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			font-weight: 700;
			margin-bottom:50px
		}
		span{
			color:#696969;
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 20px;
		}
	}
	&__copyright{
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: center;
		span{
			color:#696969;
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			font-weight: 400;
		}
	}
}


@media screen {
	@media (max-width: 567px) {
		.subpage-header{
			padding-left: 15px;
			padding-right: 15px;
			&__title{
				font-size: 28px!important;
			}
		}
		.footer{
			&__menu{
				ul{
					flex-direction: column;
					li{
						margin-right: 0;
						text-align: center;
					}
				}
			}
		}

	}
	@media (max-width: 1024px) {
		.topmenu{
			&__menu{
				display: none;
			}
		}
		.mobile-menu-button{
			display: block;
		}
	}
}
#turn{
	width: 100vw;
	height: 100vh;
	background: white;
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	z-index: 9999;
}
.mask{

	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
    background-image: linear-gradient(to bottom, rgba(245,252,255,0.2), rgba(245,252,255,1));
}
