/** loading screen **/
.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(182, 218, 235, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-logo {
    position: relative;
    width: 100px;
    height: 100px;
    background: url('../img/logo-icon.webp') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: scale 1s linear infinite;
  }
  
  @keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
  }
.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 1.21rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

.step {
  display: inline-block;
  width: 40px;
  height:40px;
  background-color: #65cde6;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  /* left: calc(50% - 20px); */
  margin-top: -2em;
  position: relative;
}

.step-icon{
  width: 100px !important;
  height: 100px !important;
  margin-top: 0;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

.modal-content {
  margin-top: calc(25vh);
  background-color: none;
}

.modal-body{
	padding: 0
}

.modal-backdrop {
  background-color: rgba(28,167,231,0.6);
}

.embed-container { 
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
 }


.res-card {
  height: 480px;
  width: 80%;
  border-radius: 20px;
  margin-bottom: 2%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-left: 10%;
}
.res-card .vid-img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.res-card .play-button {
  width: 60px;
  height: 60px;
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  background: url('/new/img/play-blue.webp') no-repeat 50%;
  background-color: #fff;
  background-size: cover;
  border: 0;
  box-shadow: 0 0.3rem 0.4rem 0rem rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.video-desc {
  position: absolute;
  bottom: 10px;
  left: 30px;
  font-size: 1.3rem;
  color: #eee;
  font-weight: 700;
}
@media (max-width: 1440px) {
  .res-card {
      height: 400px;
      margin-left: 0;

  }
}
@media (max-width: 850px) {
  .res-card {
      height: 350px;
      margin-left: 0;

  }
}
@media (max-width: 700px) {
  .res-card {
      width: 100%;
      height: 300px;
      margin-bottom: 15px;
      margin-left: 0;

  }
}
@media (max-width: 414px) {
  .res-card {
      width: 100%;
      height: 200px;
      margin-left: 0;
  }
}

.list-style-type{
  list-style-type:initial
}