@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap&subset=latin-ext);
a:hover{
	text-decoration: none;
}

.mobile-menu{
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	background: rgba(255,255,255,0.8);
	z-index: 9998;
	justify-content:center;
	align-items: center;
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		li{
			text-align: center;
			margin-bottom: 20px;
			a{
				font-family: 'Montserrat', sans-serif;
				font-size: 32px;
				font-weight: 700;
				color:#58c4d9;
			}
		}
	}
}
.mobile-menu-button{
	display: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color:#333333;
	position: relative;
	z-index: 9999;
}
.link-btn{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding: 15px 80px;
	border-radius: 5px;
	&--orange{
		background-color:#e8957e;
		color: #FFFFFF;
		&:hover{
			color:#ffffff;
		}
	}
	&--white{
		color:#63a5b5;
		background-color:#FFFFFF;
		&:hover{
			color:#63a5b5;
		}
	}
	&--border{
		color:#e8957e;
		background-color: none;
		border:2px solid #e8957e;
		padding-top:13px;
		padding-bottom: 13px;
		&:hover{
			color:#e8957e;
		}
	}
}
.bilim-content{
	font-family: 'Montserrat', sans-serif;
	padding-top:50px;
	padding-bottom: 50px;
}
.topmenu{
	width: 100%;
	top:30px;
	position: absolute;
	&--subpage{
		background: white;
		top:0;
		position: relative;
		height: 120px;
		display: flex;
		align-items: center;
	}
	&__row{
		justify-content: space-between;
		align-items: center;
	}
	&__logo{
		img{
			width: 220px;
		}
	}
	&__menu{
		ul{
			margin-bottom: 0;
			padding: 0;
			list-style-type: none;
			display: flex;
		}
		li{
			margin-right: 25px;
			a{
				font-family: 'Montserrat', sans-serif;
				font-size: 14px;
				font-weight: 600;
				color: #696969;
				&:hover{
					color:#e8957e;
				}
			}
		}
	}
}

.footer{
	width: 100%;
	margin-top: 40px;
	&--contact{
		margin-top: 0;
	}
	&__bg{
		width: 100%;
		height: 480px;
		background-image: url(../img/contact-bg.webp);
		background-size:cover;
		background-repeat: no-repeat;
		background-position: center;
		iframe{
			width: 100%;
			height: 480px;
		}
	}
	&__box{
		border-style: solid;
		border-width: 1px;
		border-color: rgb(238, 238, 238);
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
		padding-top: 100px;
		padding-bottom: 100px;
		margin-top: -200px;
		display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
	}
	&__logo{
		margin-bottom: 50px;
		img{
			width: 260px;
			height: auto;
		}
	}
	&__menu{
		margin-bottom:20px;
		ul{
			padding: 0;
			list-style-type:none;
			display: flex;
			margin: 0;
			justify-content: center;
			&:first-child{
				margin-bottom: 30px;
			}
			li{
				margin-right: 30px;
				a{
					color:#757575;
					font-family: 'Montserrat', sans-serif;
					font-size: 14px;
					font-weight: 700;
					&:hover{
						color:#e8957e;
					}
				}

			}
		}
	}
	&__socials{
		margin-bottom: 50px;
		ul{
			padding: 0;
			list-style-type: none;
			display: flex;
			margin: 0;
			li{
				width: 45px;
				height: 45px;
				border-radius: 50%;
				background-color: #eeeeee;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: 15px;
			}
		}
	}
	&__contact{
		display: flex;
		flex-direction: column;
		text-align: center;
		&__title{
			color:#333333;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			font-weight: 700;
			margin-bottom:50px
		}
		span{
			color:#696969;
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 20px;
		}
	}
	&__copyright{
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: center;
		span{
			color:#696969;
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			font-weight: 400;
		}
	}
}


@media screen {
	@media (max-width: 567px) {
		.subpage-header{
			padding-left: 15px;
			padding-right: 15px;
			&__title{
				font-size: 28px!important;
			}
		}
		.footer{
			&__menu{
				ul{
					flex-direction: column;
					li{
						margin-right: 0;
						text-align: center;
					}
				}
			}
		}

	}
	@media (max-width: 1024px) {
		.topmenu{
			&__menu{
				display: none;
			}
		}
		.mobile-menu-button{
			display: block;
		}
	}
}
#turn{
	width: 100vw;
	height: 100vh;
	background: white;
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	z-index: 9999;
}
.mask{

	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
    background-image: linear-gradient(to bottom, rgba(245,252,255,0.2), rgba(245,252,255,1));
}
/** loading screen **/
.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(182, 218, 235, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-logo {
    position: relative;
    width: 100px;
    height: 100px;
    background: url('../img/logo-icon.webp') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: scale 1s linear infinite;
  }
  
  @keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
  }
.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 1.21rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

.step {
  display: inline-block;
  width: 40px;
  height:40px;
  background-color: #65cde6;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  /* left: calc(50% - 20px); */
  margin-top: -2em;
  position: relative;
}

.step-icon{
  width: 100px !important;
  height: 100px !important;
  margin-top: 0;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card-not:hover {
    margin-top: 0 !important;
    margin-bottom:  0 !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

.modal-content {
  margin-top: calc(25vh);
  background-color: none;
}

.modal-body{
	padding: 0
}

.modal-backdrop {
  background-color: rgba(28,167,231,0.6);
}

.embed-container { 
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
 }


.res-card {
  height: 480px;
  width: 80%;
  border-radius: 20px;
  margin-bottom: 2%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-left: 10%;
}
.res-card .vid-img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.res-card .play-button {
  width: 60px;
  height: 60px;
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  background: url('/new/img/play-blue.webp') no-repeat 50%;
  background-color: #fff;
  background-size: cover;
  border: 0;
  box-shadow: 0 0.3rem 0.4rem 0rem rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.video-desc {
  position: absolute;
  bottom: 10px;
  left: 30px;
  font-size: 1.3rem;
  color: #eee;
  font-weight: 700;
}
@media (max-width: 1440px) {
  .res-card {
      height: 400px;
      margin-left: 0;

  }
}
@media (max-width: 850px) {
  .res-card {
      height: 350px;
      margin-left: 0;

  }
}
@media (max-width: 700px) {
  .res-card {
      width: 100%;
      height: 300px;
      margin-bottom: 15px;
      margin-left: 0;
  }
}
@media (max-width: 414px) {
  .res-card {
      width: 100%;
      height: 200px;
      margin-left: 0;
  }
}

.list-style-type{
  list-style-type:initial
}
.error-border{
	border-color: red!important;
}
.error-t{
	color:red;
}
body{
	overflow-x: hidden;
}
#new__loading{
	// display: none!important;
}
.header{
	width: 100%;
	height: 100vh;
	background: url(../img/header-bg4.webp);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	&__slogan{
		font-family: 'Montserrat', sans-serif;
		font-size: 34px;
		font-weight: 400;
		color: #65cde6;
		line-height: 1.4;
		margin-bottom: 1rem;
		display: table;
	}
	&__desc{
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		font-weight: 400;
		color: #757575;
		margin-bottom: 40px;
	}

	&--mobile{
		display:none;
	}
}


.microbiome{
	width: 100%;
	background-color:#f5fcff;
	position: relative;
	padding-bottom: 70px;
	&__inner{
		width: 100%;
		position: relative;

	}
	&__left{
		position: absolute;
		bottom: 0;
		height: 345px;
		width: 56%;
		background-color: #a6deeb;
	}
	&__right{
		width: 44%;
		height: 525px;
		background-image: url(../img/microbiome-img.webp);
		position: absolute;
		background-size: contain;
		background-position-y:bottom;
		background-repeat: no-repeat;
		top: 7px;
    	right: 13.5%;
	}
	&__content{
		height: 525px;
		width: 100%;
		padding-top: 104px;
	}
	&__title{
		font-family: 'Montserrat', sans-serif;
		font-size: 42px;
		font-weight: 600;
		color: #d46854;
		margin-bottom: 10%;
	}
	&__desc{
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		font-weight: 400;
		color: #ffffff;
		margin-bottom: 35px;
	}
	&__col{
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			margin-right: 30px;
		}
		span{
			font-family: 'PT Serif', sans-serif;
    		font-size: 24px;
			color:#333333;
		}
		p{
			margin-top: 10px;
			margin-bottom: 0;
			font-family: 'Montserrat', sans-serif;
			font-size: 16px;
			font-weight: 400;
			color:#757575;
		}
	}
}
.microbiome-analysis{
	width: 100%;
	height: 753px;
	background-image: url(../img/microbiome-analysis-bg.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y:top;
	background-position-x:left;
	display: flex;
    align-items: center;
	.microbiome-analysis-bg-mobile{
		display: none;
	}
	.mictobiome-balance-mobile{
		display: none;
	}
	&--2{
		background-image: url(../img/microbiome-analysis-bg3.webp);
	}
	&__quote{
		display: flex;
		flex-direction: column;
		span{
			font-family: 'PT Serif', sans-serif;
			font-size: 34px;
			&:last-child{
				font-size: 25px;
			}
		}
	}
	&__title{
		font-family: 'Montserrat', sans-serif;
		font-size: 42px;
		font-weight: 400;
		color: #d46854;
		margin-bottom: 30px;
	}
	&__title2{
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		font-weight: 400;
		color: #d46854;
		margin-bottom: 30px;
		margin-top: 20px;
		line-height: 1.2;
		display: table;
	}
	&__desc{
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
		color: #757575;
		margin-bottom: 35px;
	}
}
.nutrition-guide{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color:#f5fcff;
	&__quote{
		font-family: 'PT Serif', sans-serif;
		font-size: 30px;
		text-align: center;
		margin-top: 50px;
	}
	&__title-row{
		display: flex;
    	justify-content: center;
	}
	&__title{
		font-family: 'Montserrat', sans-serif;
		font-size: 42px;
		font-weight: 400;
		color: #d46854;
		text-align: center;
		margin-bottom: 22px;
		line-height: 1.2;
		display: flex;
    justify-content: center;
	}
	&__desc{
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		font-weight: 400;
		color: #292929;
		text-align: center;
		margin-bottom: 50px;
	}
	&__content{
		text-align: center;
		position: relative;
		display: flex;
    	flex-direction: column;
		align-items: center;
	}
	&__infobox{
		display: flex;
		align-items: center;
		p{
			font-family: 'Montserrat', sans-serif;
			font-size: 15px;
			font-weight: 400;
			color: #5f41a5;
			margin-bottom: 0;
			width: 40%;
		}
	}
	&__heart{
		position: absolute;
		top:100px;
		left:80px;
		p{
			text-align: right;
			width: 55%;
		}
	}
	&__star{
		position: absolute;
		top:100px;
		right:80px;
		flex-direction: row-reverse;
		p{
			text-align: left;
		}
	}
	&__thunder{
		flex-direction: row-reverse;
		justify-content: center;
		position: relative;
		top: -30px;
		p{
			text-align: left;
		}
	}
}

.mictobiome-balance{
	width: 100%;
	/*background-image: url(../img/microbiome-balance-bg.webp);*/
	position: relative;
	background-size: cover;
	background-position: center;
	&__testimonials{
		position: relative;
		top: 20px;
		margin-top: 50px;
		.owl-nav{
			display: flex;
    		justify-content: space-between;
			position: absolute;
			width: 100%;
			top: 38%;
			button:hover{
				background: none!important;
			}
			button:focus{
				outline: none!important;
			}
			.owl-next{
				right:-57px;
				position: relative;
			}
			.owl-prev{
				left:-57px;
				position: relative;
			}
		}
		&__item{
		  	border-radius: 5px;
		  	background-color: #ffffff;
		  	box-shadow: 0px 0px 24px 0px rgba(64, 117, 140, 0.1);
			padding-top: 42px;
			padding-bottom: 42px;
			padding-left: 50px;
			padding-right: 50px;
			display: flex;
			flex-direction: column;
			text-align: center;
			justify-content: center;
			height: 260px;
			img{
				width: auto!important;
			}
			span{
				font-family: 'PT Serif', sans-serif;
				font-size: 15px;
				font-weight: 400;
				color: #35505b;
				font-style:italic;
				&:first-child{
					margin-bottom: 17px;
				}
			}
		}
	}
}
.tesekkurler{
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
	margin-top:100px;
	margin-bottom:70px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 400;
	&__title{
		font-size:22px;
		font-weight: 700;
	}
}
.tesekkurler th{
	font-size:20px;
}
.sleep-quality{
	&.guclu-bagisiklik-sistemi{
		background-image: url(../img/guclu-bagisiklik.webp);
		background-size: contain;
		background-position-x:right;
		background-position-y:100px;
		background-repeat: no-repeat;
	}
	&.kilo-kontrolu{
		background-image: url(../img/kilo-kontrolu.webp);
		background-size: contain;
		background-position-x:right;
		background-position-y:100px;
		background-repeat: no-repeat;
	}
	&.mental-saglik{
		background-image: url(../img/mental.webp);
		background-size: contain;
		background-position-x:right;
		background-position-y:100px;
		background-repeat: no-repeat;
	}
	&.uyku-kalitesi{
		background-image: url(../img/uyku-kalitesi.webp);
		background-size: contain;
		background-position-x:right;
		background-position-y:100px;
		background-repeat: no-repeat;
	}
	&.huzurlu-sindirim-sistemi{
		background-image: url(../img/sindirim-sistemi.webp);
		background-size: contain;
		background-position-x:right;
		background-position-y:100px;
		background-repeat: no-repeat;
	}
	&.cilt-sagligi{
		background-image: url(../img/cilt-sagligi.webp);
		background-size: contain;
		background-position-x:right;
		background-position-y:100px;
		background-repeat: no-repeat;
	}
	&.daha-fazlasi{
		background-image: url(../img/daha-fazlasi.webp);
		background-size: contain;
		background-position-x:right;
		background-position-y:100px;
		background-repeat: no-repeat;
	}
	&--home{
		background-image: url(../img/microbiome-balance-bg2.webp);
		background-size: cover;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	&--microbiome{
		background-image: url(../img/microbiome-balance-bg2.webp);
		background-size: cover;
		padding-top: 60px;

	}
	&__title{
		color:#e8957e;
		text-align: center;
		width: 100%;
		font-family: 'Montserrat', sans-serif;
		font-size: 42px;
		font-weight: 400;
		&--microbiome{
			color: #d46854;
		}
	}
	&__desc{
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		font-weight: 400;
		color: #292929;
		text-align: center;
	}
	&__carousel{

	}
	&__indicator{
		width: 100%;
		border: 4px solid #65cde6;
		background-color: #65cde6;
		height: 4px;
		line-height: 0;
		border-radius: 3px;
	}
	&__carousel-list{
		list-style-type: none;
		padding: 0;
		display: flex;
		justify-content: space-between;
		margin-top: -32px;
		margin-bottom: 60px;
		&__item{
			text-align:center;
			cursor: pointer;
			display: flex;
			align-items: center;
			flex-direction: column;
			h3,span{
				font-family: 'Montserrat', sans-serif;
				font-size: 17px;
				font-weight: 700;
				color:#969696;
				text-transform: uppercase;
			}
			&.active{
				span{
					color:#65cde6;
					font-weight: 700;
				}
				.triangle{
					opacity: 1;
				}
			}
			.triangle{
				width: 56px;
				height: 56px;
				background-image: url(../img/triangle.svg);
				opacity: 0;
					transition-duration: .2s;

			}
		}
	}
	&__content{
		margin-top: 75px;
		display: none;
		&.active{
			display: block;
		}
		img{
			display: none;
		}
	}
	&__content__title{
		font-family: 'Montserrat', sans-serif;
		font-size: 25px;
		font-weight: 600;
		color:#5f41a5;
		margin-bottom: 30px;
	}
	&__content__titlemicrobiome{
		font-family: 'Montserrat', sans-serif;
		font-size: 25px;
		font-weight: 600;
		color:red;
		margin-bottom: 30px;
		color: #6bcfe7;
	}
	&__content__desc{
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
		color:#757575;
		margin-bottom: 33px;
		&--home{
			height: 175px;
		}
	}
}

.microbiome-process{
	width: 100%;
	background-image: url(../img/microbiome-process-bg.webp);
	background-size: cover;
	background-position: right;
	padding-top: 66px;
	padding-bottom: 100px;

	&__title{
		font-family: 'Montserrat', sans-serif;
		font-size: 35px;
		font-weight: 400;
		color:#e8957e;
		margin-bottom: 40px;
		span{
			font-size: 42px;
			font-weight: 700;
		}
	}
	&__desc{
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
		color:#757575;
	}
	&__howto{
		margin-top: 180px;
	}
	&__howtotitle{
		width: 100%;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 42px;
		font-weight: 700;
		color:#e8957e;
		margin-bottom: 50px;
	}
	&__step{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__number{
		width: 50px;
		height: 50px;
		background: white;
		border-radius: 50%;
		border: 6px solid #f3f9fb;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		font-weight: 700;
		color:#e8957e;
		margin-bottom:11px;
	}
	&__steptitle{
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		font-weight: 700;
		color:#6a7e85;
		width: 100%;
		border-bottom:1px solid #d3dfe3;
		padding-bottom: 11px;
		text-align: center;
		height: 70px;
	}
	&__stepdesc{
		color:#6c7072;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
	}
}
.enbiosis-offer{
	margin-top: -2px;
	width: 100%;
	height: 500px;
	background-color: white;
	background-image: url(../img/enbiosis-offer-bg2.webp);
	background-repeat: no-repeat;
	background-position-x:right;
	background-position-y:top;
	background-size: contain;
	&__title{
		color:#d46854;
		font-family: 'Montserrat', sans-serif;
		font-size: 42px;
		font-weight: 400;
		margin-top: 60px;
		margin-bottom: 30px;
	}
	&__desc{
		color:#d46854;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
		color:#6c7072;
		margin-bottom: 35px;
	}
}
.enbiosis-science{

	&__title{
		width: 100%;
		text-align: center;
		color:#d46854;
		font-family: 'Montserrat', sans-serif;
		font-size: 42px;
		font-weight: 400;
		margin-bottom: 40px;
	}
	&__desc{
		text-align: center;
		color:#757575;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
	}
}
.gen{
	&__quote{
		font-family: 'PT Serif', sans-serif;
		font-size: 30px;
		text-align: center;
		margin-top: 50px;
	}
}
.discover{
	width: 100%;
	height: 720px;
	background-image: url(../img/enbiosis-box.webp);
	background-size: 65%;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
	display: flex;
	align-items: center;
	&__quote{
		display: flex;
		flex-direction: column;
		span{
			font-family: 'PT Serif', sans-serif;
			font-size: 34px;
			text-align: center;
			&:last-child{
				font-size: 25px;
			}
		}
	}
	&--microbiome{

		background-image: url(../img/discover-microbiome.webp);
	}
	&__title{
		color:#d46854;
		font-family: 'Montserrat', sans-serif;
		font-size: 42px;
		font-weight: 700;
		margin-bottom: 30px;
		line-height: 1.2;
		display: table;
	}
	&__desc{
		color:#757575;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 35px;
	}
}
.subpage-header{
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	display: flex;
	align-items: center;
	&--about{
		background-image: url(../img/about-header-bg.webp);
		background-position: center;
	}
	&--sss{
		background-image: url(../img/sss-bg.webp);
	}
	&--microbiome-analysis{
		background-image: url(../img/mikrobiyom-analizi-header-bg.webp);
	}
	&--microbiome{
		background-image: url(../img/microbiome-bg.webp);
	}
	&--satinal{
		background-image: url(../img/satin-al-bg.webp);
	}
	&--checkout{
		background-image: url(../img/checkout-mobile.webp);
		background-size: cover;
		background-position: center;
	}
	&--contact{
		background-image: url(../img/contact-header-bg.webp);
	}
	&--investor{
		background-image: url(../img/yatirimci.webp);
		background-position: center;
	}
	&__title{
		color:#d46854;
		font-family: 'Montserrat', sans-serif;
		font-size: 42px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	&__seperator{
		width: 42px;
		height: 2px;
		background-color: #d46854;
	}
	&__breadcrumb{
		margin-top: 20px;
		// display: none;
		align-items: center;
		color:#696969;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 400;
		span:nth-child(2){
			margin-left: 20px;
			margin-right: 20px;
		}
	}
}
.team{
	width: 100%;
	background-position: center;
	background-size: cover;
	&__desc{
		width: 100%;
		color:#696969;
		font-family: 'Montserrat', sans-serif;
		font-size: 17px;
		font-weight: 400;
		text-align: center;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	&__slogan{
		width: 100%;
		font-family: 'PT Serif', sans-serif;
		font-style: italic;
		font-size:24px;
		color:#333333;
		text-align: center;
	}
	&__row{
		margin-top:80px;
		margin-bottom: 100px;
	}
	&__member{
		background: white;
		border-width: 1px;
	    border-color: rgb(233, 243, 247);
	    border-style: solid;
	    border-radius: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		min-height: 531px;
		margin-bottom: 40px;
		cursor: pointer;
		&:hover{
			box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16);
			transform: translateY(-2px);
			transition: all .2s;

		}
		&:hover > &__button{
			background:#5f41a5;
			transition: all .2s;
		}
		&__avatar{
			margin-top: 30px;
			margin-bottom: 30px;
		}
		&__name{
			margin-bottom: 16px;
			color:#333333;
			font-family: 'Montserrat', sans-serif;
			font-size: 17px;
			font-weight: 700;
			text-align: center;
			height: 50px;
		}
		&__job{
			color:#d46854;
			font-family: 'Montserrat', sans-serif;
			font-size: 12px;
			padding-left: 15px;
			padding-right: 15px;
			font-weight: 400;
			text-align: center;
			margin-bottom: 50px;
			&--2{
				font-weight: 700;
				font-size:14px;
				margin-bottom: 10px;
			}
		}
		&__button{
			width:100%;
			height:40px;
			background:#e8957e;
			position: absolute;
			bottom: 0;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			font-family: 'Montserrat', sans-serif;
			font-size: 15px;
			font-weight: 600;
			&:hover{
				color:white;
			}
		}
	}

}
.discover-yourself{
	width: 100%;
	height: 680px;
	background-image: url(../img/mka-img.webp);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
	&__title{
		color: #65cde6;
		font-family: 'Montserrat', sans-serif;
		font-size: 34px;
		font-weight: 400;
		margin-top: 70px;
		margin-bottom: 40px;
	}
	&__subtitle{
		color:#696969;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
	}
	&__desc{
		color:#696969;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
	}
}
.hipokrat{
	width: 100%;
	margin-bottom: 30px;
	background-image: url(../img/hipokrat.webp);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:-150px;
	margin-top: -250px;
	padding-top: 250px;
	&__row{
		display: flex;
		justify-content: flex-end;
	}
	&__title{
		color: #65cde6;
		font-family: 'Montserrat', sans-serif;
		font-size: 34px;
		font-weight: 400;
	}
	&__quote{
		display: flex;
		flex-direction: column;
		span{
			font-family: 'PT Serif', sans-serif;
			font-size: 34px;
			&:last-child{
				font-size: 25px;
			}
		}
	}
	&__desc{
		margin-top: 50px;
		color:#696969;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
	}
}
.analyze-report{
	direction: rtl;
	&__title{
		color: #65cde6;
		font-family: 'Montserrat', sans-serif;
		font-size: 34px;
		font-weight: 400;
		margin-bottom: 40px;
	}
	&__desc{
		color:#6c7072;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
	}
	&__item{
		display: flex;
		flex-direction: column;
		color: #696969;
		font-family: 'Montserrat', sans-serif;
		margin-bottom: 30px;
		h3{
			&:first-child{
				font-size: 20px;
				font-weight: 700;
				margin-bottom: 20px;
			}
			&:last-child{
				font-size: 18px;
				font-weight: 400;
			}
		}
	}
	&__quote{
		font-family: 'PT Serif', sans-serif;
		font-size: 30px;
		text-align: center;
		margin-top: 50px;
	}
	&__besin-skorlari{
		margin-top: 100px;
	}
	&__food-rating{
		display: flex;
		margin-top: 30px;
		align-items: center;
		h4{
			color: #696969;
			font-family: 'Montserrat', sans-serif;
			font-size:20px;
			font-weight: 700;
			font-family: 'Montserrat', sans-serif;
		}
		img{
			margin-right: 20px;
		}
		.content{

		}
	}
}
.hprocess{
	width: 100%;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 10px;
	display: flex;
	align-items: center;
	&--home{
		background-image: none;
	}
	&__title{
		width: 100%;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 42px;
		text-align: center;
		font-weight: 700;
		color:#e8957e;
	}
	&__howto{
		margin-top: 120px;
	}
	&__howtotitle{
		width: 100%;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 42px;
		font-weight: 700;
		color:#e8957e;
		margin-bottom: 50px;
	}
	&__step{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__number{
		margin-bottom:20px;
	}
	&__steptitle{
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		font-weight: 700;
		color:#6a7e85;
		width: 100%;
		border-bottom:1px solid #d3dfe3;
		padding-bottom: 11px;
		text-align: center;
		height: 70px;
		margin-bottom: 20px;
		display: table;
		justify-content: center;
	}
	&__stepdesc{
		color:#6c7072;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
	}
}
.wgo{
	width: 100%;
	background-image: url(../img/wgo-bg.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: -2px;
	padding-top: 45px;
	padding-bottom: 17px;
	&__title{
		color: #65cde6;
		font-family: 'Montserrat', sans-serif;
		font-size: 34px;
		font-weight: 400;
		margin-bottom: 50px;
	}
	&__items{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	&__item{
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		span{
			color: #696969;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			font-weight: 400;
			width: 100%;
		}
	}
	&__number{
		width: 34px;
		height: 34px;
		background: #65cde6;
		border-radius: 50%;
		border: 6px solid #b2e6f2;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 13px;
		font-weight: 700;
		color:white;
		margin-right: 12px;
	}
}
.rrna{

	&__title{
		color: #65cde6;
		font-family: 'Montserrat', sans-serif;
		font-size: 34px;
		font-weight: 400;
		margin-top: 50px;

		margin-bottom: 27px;
	}
	&__desc{
		color: #696969;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 50px;
	}
}

.ecosystem{
	width: 100%;

	background-image: url(../img/gut-bg.webp);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;

	&__item{
		margin-top: 50px;
	}
	&__title{
		color: #d46854;
		font-family: 'Montserrat', sans-serif;
		font-size: 34px;
		font-weight: 400;
		margin-bottom: 30px;
	}
	&__desc{
		color: #696969;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
	}
	&__quote{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 100px;
		span{
			text-align: center;
			font-family: 'PT Serif', sans-serif;
			font-size: 28px;
			font-weight: 400;
			color: #333333;
			&:last-child{
				font-size: 20px;
				color:#5c5c5c;
			}
		}
	}
}
.maffects{
	margin-top: 100px;
	&__title{
		display: table;
		width: 100%;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 42px;
		font-weight: 700;
		color: #e8957e;
		margin-bottom: 50px;
	}
	&__item{
		cursor: pointer;
		height: 256px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-start;
		padding-left: 30px;
		padding-right: 30px;
		border-radius: 10px;
		border: 1px solid #d0d5de;
		margin-bottom: 30px;
		position: relative;
		&:hover{
			border-color: #d46854;
			transform: translateY(-2px);
    		text-decoration: none;
    		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 4px 9px rgba(0, 0, 0, 0.1);
			transition: all .2s;
			img {
				filter: grayscale(20%);
			}
		}
		.link-btn {
			position: absolute;
			bottom: 30px;
		}
		img{
			margin-bottom: 20px;
			width: 100%;
			height: auto;
			filter: grayscale(100%);
		}
		
		h2{
			color: #65cde6;
			font-family: 'Montserrat', sans-serif;
			font-size: 22px;
			font-weight: 700;
			text-align: center;
			margin-bottom: 5px;
		}
		p{
			color: #696969;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			font-weight: 400;
			text-align: center;
		}
	}
}
.microbiome-texts{

	background-image: url(../img/ecosystem-bg2.webp);
	background-position:right;
	background-repeat: no-repeat;
	background-size: contain;

	&__imgrow{
		display: flex;
		justify-content: flex-start;
	}
	&__text{
		margin-top: 10px;
		h2{
			color: #d46854;
			font-family: 'Montserrat', sans-serif;
			font-size: 34px;
			font-weight: 400;
			margin-bottom: 30px;
		}
		p{
			color: #696969;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			font-weight: 400;
		}
		&--img{
			background-image: url(../img/tarti.webp);
			background-repeat: no-repeat;
			background-position-x: center;
			background-size:cover;
			height: 600px;
			margin-top: -100px;
			display: flex;
			align-items: center;
			.row{
				display: flex;
				justify-content: flex-end;
			}
			h1{
				color: #65cde6;
				font-family: 'Montserrat', sans-serif;
				font-size: 34px;
				font-weight: 400;
			}
			p{
				color: #696969;
				font-family: 'Montserrat', sans-serif;
				font-size: 18px;
				font-weight: 400;
			}
		}
	}
}
.error-border .select2-selection{
	border:1px solid red!important;
}
.buy{
	margin-top:100px;
	width: 100%;
	margin-bottom: 100px;
	background-image: url(../img/enbiosis-box.webp);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position-x: 110%;
	background-position-y: bottom;
	&__first {
		height: auto !important;
	}
	.form-text{
		color:red!important;
	}
	.select2-container--default .select2-selection--single{
		height: 50px;
		display: flex;
		align-items: center;
		border-color: rgb(221, 223, 225);

	}

	.select2-container--default .select2-selection--single .select2-selection__arrow{
		height: 50px;
	}
	.select2-container .select2-selection--single .select2-selection__rendered{
		color: #6e6e6e;
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		font-weight: 400;
	}
	&__title{
		color: #65cde6;
		font-family: 'Montserrat', sans-serif;
		font-size: 34px;
		font-weight: 400;
		margin-bottom: 25px;
	}
	&__desc{
		color: #696969;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 30px;
	}
	&__productname{
		color: #696969;
		font-family: 'Montserrat', sans-serif;
		font-size: 25px;
		font-weight: 700;
		display: flex;
		flex-direction: column;
		a{
			font-size: 17px;
			color: #d46854;
			text-decoration: underline;
		}
	}
	table{
		font-family: 'Montserrat', sans-serif;
		margin-bottom: 0;
	}
	&__productprice{
		color: #696969;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 15px;

	}
	&__label{
		color: #333333;
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		font-weight: 500;
	}
	&__formtitle{
		color: #65cde6;
		font-family: 'Montserrat', sans-serif;
		font-size: 35px;
		font-weight: 400;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	&__insforms{
		label{
			color: #696969;
		    font-family: 'Montserrat', sans-serif;
		    font-size: 18px;
		    font-weight: 400;
		    margin-bottom: 15px;
		    margin-top: 15px;
		}
	}
	&__couponforms{
		display: none;
		label{
			color: #696969;
		    font-family: 'Montserrat', sans-serif;
		    font-size: 18px;
		    font-weight: 400;
		    margin-bottom: 15px;
		    margin-top: 15px;
		}
	}
	&__pricediv{
		display: flex;
		justify-content: space-between;
	}
	&__quantitydiv{
		display: none;
	}
	&__quantitydivshow{
		display: flex;
	}
	&__quantitylink{
		color: #d46854;
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		text-decoration: underline;
		&:hover{
			color: #d46854;
		}
	}
	&__couponlink{
		color: #d46854;
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		text-decoration: underline;
		&:hover{
			color: #d46854;
		}
	}
	&__input{
		.btn{
			height: 50px;
			font-family: 'Montserrat', sans-serif;
		}
		label{
			color: #333333;
			font-family: 'Montserrat', sans-serif;
			font-size: 15px;
			font-weight: 500;
		}
		input[type="text"]{
			border-style: solid;
			border-width: 1px;
			border-color: rgb(221, 223, 225);
			border-radius: 3px;
			background: white;
			height: 50px;
			color: #6e6e6e;
			font-family: 'Montserrat', sans-serif;
			font-size: 15px;
			font-weight: 400;
			&:focus{
				box-shadow: none!important;
			}
		}
		textarea{
			border-style: solid;
			border-width: 1px;
			border-color: rgb(221, 223, 225);
			border-radius: 3px;
			background: white;
			height: 150px;
			resize: none;
			color: #6e6e6e;
			font-family: 'Montserrat', sans-serif;
			font-size: 15px;
			font-weight: 400;
			&:focus{
				box-shadow: none!important;
			}
		}

		ul{
			margin:0;
			padding: 0;
			list-style-type: none;
			margin-bottom: 40px;
			li{
				display: flex;
				align-items: center;
				color: #6e6e6e;
				font-family: 'Montserrat', sans-serif;
				font-size: 15px;
				font-weight: 400;
				a{
					margin-left:10px;
					color: #6e6e6e;
					font-family: 'Montserrat', sans-serif;
					font-size: 15px;
					font-weight: 400;
				}
			}
		}
	}
}

.contact-info{
	margin-top: 100px;
	&__img{
		width: 100%;
		height: auto;
	}
	&__title{
		color: #58c4d9;
		font-family: 'Montserrat', sans-serif;
		font-size: 32px;
		font-weight: 700;
		margin-bottom:30px;
	}
	&__desc{
		color: #696969;
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 40px;
	}
	&__right{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	ul{
		margin:0;
		padding: 0;
		list-style-type: none;
		li{
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			img{
				margin-right: 20px;
			}
			span{
				color: #333333;
				font-family: 'Montserrat', sans-serif;
				font-size: 16px;
				font-weight: 400;
			}
		}
	}
}
.contact-form{
	width: 100%;
	background-image: url(../img/wgo-bg.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: 100px;
	&__title{
		color: #58c4d9;
		font-family: 'Montserrat', sans-serif;
		font-size: 32px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 50px;
	}
	&__sub_title{
		color: #58c4d9;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 50px;
		margin-top: -30px;
	}
	&__input{
		margin-bottom:25px;
		input[type="text"]{
			border-style: solid;
			border-width: 1px;
			border-color: rgb(221, 223, 225);
			border-radius: 3px;
			background: white;
			height: 50px;
			color: #6e6e6e;
			font-family: 'Montserrat', sans-serif;
			font-size: 15px;
			font-weight: 400;
			&:focus{
				box-shadow: none!important;
			}
		}
		textarea{
			border-style: solid;
			border-width: 1px;
			border-color: rgb(221, 223, 225);
			border-radius: 3px;
			background: white;
			height: 150px;
			resize: none;
			color: #6e6e6e;
			font-family: 'Montserrat', sans-serif;
			font-size: 15px;
			font-weight: 400;
			&:focus{
				box-shadow: none!important;
			}
		}
	}
}

.triple-box{
	margin-top: 100px;
	margin-bottom: 170px;
	&__title{
		color: #58c4d9;
		font-family: 'Montserrat', sans-serif;
		font-size: 32px;
		font-weight: 400;
		text-align: center;
	}
	&__subtitle{
		color: #696969;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
		text-align: center;
		margin-bottom: 50px;
	}
	&__box{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		span{
			color: #696969;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			font-weight: 700;
			text-align: center;
		}
	}
}
.sss{
	margin-top:100px;
	&__subnote{
		color: #696969;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
		text-align: center;
	}
	&__title{
		color: #d46854;
		font-family: 'Montserrat', sans-serif;
		font-size: 42px;
		font-weight: 700;
		margin-bottom: 50px;
		text-align: center;
		width: 100%;
	}
	&__item{
		margin-bottom: 20px;
		span{
			color: #65cde6;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			font-weight: 700;
		}
		p{
			color: #757575;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			font-weight: 400;
			margin-top: 20px;
		}
		ul{
			margin:0;
			padding:0;
			margin-bottom:20px;
		}
		li{
			color: #757575;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			font-weight: 400;
		}
	}
	.card{
		box-shadow: 0 0 12px 0 #F7F7F7;
    	border-radius: 6px;
    	border: 0!important;
    	margin-bottom: 20px;
	}
	.card-body{
		color: #757575;
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		font-weight: 400;
		ul{
			margin:0;
			padding:0;
			margin-bottom:20px;
		}
		li{
			color: #757575;
			font-family: 'Montserrat', sans-serif;
			font-size: 15px;
			font-weight: 400;
		}
	}
	.card-header{
		border:0;
		background: none;
		background-color: #ffffff;
		border: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.icon{
			&.plus{
				background: url(../img/plus.webp);
				background-size:16px 16px;
				width: 16px;
				height: 16px;
			}
			&.minus{
				background: url(../img/minus.webp);
				background-size:16px 16px;
				width: 16px;
				height: 16px;
			}
		}
		button{
			background: none;
			border:0;
			text-align: left;
			color: #696969;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
    		font-size: 14px;
			&:focus{
				outline:none;
			}
			width: 100%;
		}
	}
}

.en-carousel,
.en-carousel-balance{
	padding-top:110px;
	padding-bottom:110px;
	background:#f5fcff;
	margin-top:80px;
	position: relative;
}
.en-carousel .owl-nav,
.en-carousel-balance .owl-nav
.en-carousel-top-0 .owl-nav{
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	top: 38%;
	button:hover{
		background: none!important;
	}
	button:focus{
		outline: none!important;
	}
	.owl-next{

		position: relative;
	}
	.owl-prev{

		position: relative;
	}
}
.top-0 .owl-nav {
	top: 50px !important;
}
.en-carousel .container,
.en-carousel-balance .container{
	max-width:100%;
	margin: 0!important;
	padding: 0!important;
}
.en-carousel .row,
.en-carousel-balance .row{
	margin:0;
}
.en-carousel .item,
.en-carousel-balance .item{
	position:relative;
}
.en-carousel .item img,
.en-carousel-balance .item img{
	width:100%;
	height:auto;
	
}
.en-carousel .item .content,
.en-carousel-balance .item .content{
	position:absolute;
	bottom:10px;
	left:20px;
}
.en-carousel .item .content h3,
.en-carousel-balance .item .content h3{
	color:#65cde6;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size:20px;
}
.en-carousel .item .content p,
.en-carousel-balance .item .content p{
	color:#696969;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size:13px;
	height:100px;
}
.basin-carousel .item img {
	cursor: pointer;
	filter: grayscale(100%);
}
.basin-carousel .item img:hover{
	filter: grayscale(20%);
}
.report-item{
	align-items: center;
	display: flex;
	&__item{
		display: flex;
		align-items: center;
		margin-bottom: 30px;
	}
	&__tempitem{
		display: flex;
		align-items: center;
		margin-bottom: 30px;
	}
	&__icon{

	}
	&__content_width {
		width: calc(100% - 115px) !important;
	}
	&__content{
		display: flex;
		margin-left:15px;
		flex-direction: column;
		span{
			color:#696969;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			font-size:12px;
			&:first-child{
				font-weight: 700;
				font-size:14px;
				margin-bottom: 10px;
			}
		}
	}
}


.bagirsak{
	&__1{
		background-image:url(/new/landing1/landing_header-bg3.webp);
	}
	&__2{
		font-size:30px;
	}
	&__3{
		background-image:url(/new/landing1/bagirsak3.webp);
	}
	&__4{
		font-size:36px;
	}
	&__5{
		background-position-x:right;background-image:url(/new/landing1/bagirsak7.webp);
	}
	&__6{
		font-size:32px;
	}
	&__7{
		font-size:16px;
	}
	&__8{
		display: flex;width: 100%;justify-content: center;
	}
	&__9{
		background-image:none!important;;height:auto;margin-top:100px;margin-bottom:0;background-position-y:top
	}
	&__10{
		margin-top:100px;margin-bottom:100px;
	}
	&__11 {
		background-position-x:right;
		background-image:url(/new/landing1/bagirsak3-left.webp);
	}
}

.bagisiklik{
	&__1{
		background-image:url(/new/landing1/bagisiklik1.webp);
	}
	&__2{
		font-size: 26px;
	}
	&__3{
		background-image:url(/new/img/about-1.webp);
	}
	&__4{
		background-position-x:right;background-image:url(/new/landing1/bagisiklik6.webp);
	}
	&__5{
		background-image:url(/new/landing1/bagisiklik4.webp);
	}
	&__6{
		margin-top:50px;
	}
	&__7{
		margin-top:120px;
	}
	&__8{
		background-image:url(/new/landing1/10.webp);
	}
	&__9{
		background-image:url(/new/landing1/DİYETİ-MİKROBİYOMUN.webp);
	}
}

.kilo{
	&__1{
		background-image:url(/new/landing1/landing_header-bg2.webp);
	}
	&__2{
		font-size: 26px;
	}
	&__3{
		display: flex;align-items: center;height:600px;background-image: url(/new/img/tarti.webp);background-size:auto;background-position-y:100%;background-position-x:-80px;
	}
	&__4{
		justify-content:flex-end;
	}
	&__5{
		margin-top:100px;
	}
	&__6{
		background-image:url(/new/landing1/kilo-kontrolu-1.webp);margin-top: 100px;margin-bottom: 100px;
	}

}
.kilo-img{
	display: none;
}
.kisisel{
	&__1{
		background-image:url(/new/landing1/landing_header-bg.webp);
	}
	&__2{
		font-size:28px;
	}
	&__3{
		background-position-x:right;background-image:url(/new/landing1/microbiome_img.webp);
	}
	&__4{
		height:480px;background-image:url(/new/landing1/bagisiklik5.webp);
	}
	&__5{
		text-align: center;background:none;height:auto;margin-bottom:170px;
	}
	&__6{
		margin-bottom:170px;
	}
	&__7{
		background-image:url(/new/landing1/food_rating.webp);
	}
}
.mbt{
	&__1{
		background-image:url(/new/landing1/mikrobiyom1.webp);
	}
	&__2{
		font-size:28px;
	}
	&__3{
		background-position-x:right;background-image:url(/new/landing1/mikrobiyom2.webp);
	}
	&__4{
		background-size: contain;background-image:url(/new/landing1/bagisiklik5.webp);height:470px;margin-top: 100px;margin-bottom: 100px;background-position-y:top;
	}
	&__5{
		background-image:none!important;;height:auto;margin-top:100px;margin-bottom:100px;background-position-y:top;
	}
	&__6{
		margin-top:100px;margin-bottom:100px;
	}
	&__7{
		margin-bottom:100px;
	}
	&__8{
		margin-top:20px;display:flex;justify-content:flex-end;
	}
}

.bilimkurulu{
	margin-top:100px;
	&__title{
		display: table;
		width: 100%;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 42px;
		font-weight: 700;
		color: #e8957e;
		margin-bottom: 50px;
	}
	.team__row{
		margin-top:0;
		margin-bottom: 0;
	}
}
.section_height {
	height: 70px;
}
.margin_left {
	margin-left: 25%;
}
@media screen {
	@media (max-width: 567px) {
		.buy{
			&__first{
				height: auto !important;
			}
		}
		.section_height {
			height: 125px;
		}
		.margin_left {
			margin-left: 10%;
		}
		.header{
			text-shadow: 0 0 white;
			display: none;
			padding-bottom: 70px;
			&__slogan{
				font-size: 20px;
				text-align: center;
				display: block;
			}
			&__desc{
				font-size: 12px;
				text-align: center;

			}
			&--mobile{
				background-image: url(../img/home-mobile.webp);
				display: flex;
				height: 700px;
				background-position-y: top;
				background-size: contain;
				background-color: #f5fcff;
				align-items: flex-end;

			}
		}

		.link-btn{
			font-size: 12px;
		}
		.topmenu{
			padding-left: 15px;
			padding-right: 15px;
		}
		.mobile-menu{
			ul{
				li{
					a{
						font-size: 16px;
					}
				}
			}
		}
		.microbiome{
			&__title{
				font-size: 28px;
			}
			&__desc{
				font-size: 15px;
				margin-top: 80px;
			}
		}
		.microbiome-analysis{
			height: auto;
			padding-top: 70px!important;

			background-image: none!important;
			&__title{
				font-size: 28px;
			}
			&__desc{
				font-size: 15px;
			}
		}
		.microbiome-process{
			background: none;
			&__howto{
				margin-top: 100px;
			}
			&__title{
				span{
					font-size: 28px;
				}
				font-size:28px;
				padding-left:15px;
			}
			&__howtotitle{
				font-size: 28px;
			}
			&__desc{
				font-size: 15px;
			}
		}

		.mictobiome-balance{
			&__testimonials{
				&__item{
					height: auto;
				}
				.owl-nav .owl-next{
					left: 0;
				}
				.owl-nav .owl-prev{
					left: 0;
				}
			}
		}

		.sleep-quality{
			&--home{
				padding-top: 70px;
				padding-bottom: 0px;
			}
			&__title{
				font-size:28px;
			}
			&__carousel{
				transform: scale(0.9);
			}
			&__carousel-list{
				transform: scale(0.9);
				&__item{
					.triangle{
						margin-top: 10px;
						width: 30px;
    					height: 30px;
    					background-size: 30px 30px;
					}
					h3,span{
						font-size:9px!important;
						font-weight: 300!important;
					}
				}
			}
			&__content{
				margin-top: 40px;

				&__desc{
					font-size: 15px;
					height: 200px;
				}
			}
		}
		.enbiosis-offer{
			&__title{
				font-size: 28px;
			}
			&__mobile-btn{
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.link-btn{
				&--orange{
					margin-right: 0!important;
					margin-bottom: 20px;
				}
			}
			&__desc{
				font-size: 15px;
			}
		}
		.enbiosis-science{
			margin-top: 50px;
			&__title{
				font-size:28px;
			}
			&__desc{
				font-size: 15px;
			}
		}
		.discover{
			background: none;
			height: auto;
			padding-top: 50px;
			padding-bottom: 50px;
			&__title{
				font-size: 28px;
			}
			&__desc{
				font-size: 15px;
			}
			&__quote{
				span{
					font-size: 26px;
				}
			}
		}
		.team{
			&__desc{
				font-size: 15px;
				padding-left: 15px;
				padding-right: 15px;
			}
			&__member{
				min-height: auto;
				&__avatar{
					width: 40%!important;
				}
			}
		}
		.contact-info{
			&__img{
				display: none;
			}
		}
		.discover-yourself{
			height: auto;
			background: none;
			&__title{
				font-size: 28px;
			}
			&__subtitle{
				font-size: 15px;
			}
			&__desc{
				font-size: 15px;
			}
			.col-md-12{
				display: flex;
    			flex-direction: column;
    			align-items: center;
				.link-btn--orange{
					margin-right: 0!important;
					margin-bottom: 20px;
				}
			}
		}
		.hipokrat{
			background: none;
			&__title{
				font-size: 28px;
			}
			&__desc{
				font-size: 15px;
			}
		}
		.hipokrat{
			&__quote{
				span{
					font-size: 25px;
				}
			}
		}
		.analyze-report{
			direction: ltr !important;
			&__title{
				font-size:28px;
			}
			&__item{
				h3{
					font-size: 15px!important;
				}
			}
			&__quote{
				font-size: 20px;
				margin-top: -60px;
			}
			&__besin-skorlari{
				margin-top: 0;
			}
		}
		.sss{
			margin-top:20px;
		}
		.triple-box{
			margin-top: 70px;
			margin-bottom: 70px;
		}
		.iphone-wrapper{
			margin-top:-110px;
		}
		.nutrition-guide{
			padding-top: 70px;
		}
		.hprocess{
			&__howto{
				margin-top: 70px;
			}
			height: auto;
			&__howtotitle{
				font-size: 28px;
			}
		}
		.wgo{
			&__title{
				font-size: 28px;
			}
			&__item{
				span{
					font-size: 15px;
				}
			}
		}
		.rrna{
			&__title{
				font-size: 28px;
			}
			&__desc{
				font-size: 15px;
			}
		}
		.sss{
			&__title{
				font-size: 32px;
			}
			&__item{
				p{
					font-size:15px;
				}
			}
		}
		.ecosystem{
			background: none;
			&__title{
				font-size: 28px;
			}
			&__desc{
				font-size: 15px;
			}
			&__quote{
				margin-top:70px;
				span{
					font-size: 25px;
				}
			}
		}
		.maffects{
			margin-top:60px;
			&__title{
				font-size: 28px;
			}
			&__item{
				height: 200px;
				p{
					font-size: 15px;
				}
				.link-btn{
					    padding: 15px 20px!important;

				}
			}
		}
		.bilimkurulu{
			&__title{
				font-size: 28px;
			}
		}
		.en-carousel,
		.en-carousel-balance
		{
			padding-top:70px;
			padding-bottom: 70px;
		}
		.microbiome-texts{
			background: none;
			&__text{
				h2{
					font-size: 28px;
				}
				p{
					font-size: 15px;
				}
			}
		}
		.buy{
			background: none;
			&__title{
				font-size: 28px;
			}
			&__desc{
				font-size: 15px;
			}
			&__formtitle{
				font-size: 28px;
			}
		}
		.microbiome{
			&__col{
				flex-direction: column;
				img{
					margin-bottom: 30px;
					margin-right: 0;
				}
			}
		}
		.bagirsak{
			&__2{
				font-size:16px;
			}
			&__9{
				margin-top:0;
				margin-bottom:0;
			}
			&__10{
				margin-top:50px;
				margin-bottom:50px;
			}
		}
		.bagisiklik{
			&__6{
				margin-top:0;
			}
			&__2{
				font-size:16px;
			}
			&__t{
				font-size: 28px!important;
			}
		}
		.kisisel{
			&__2{
				font-size:16px;
			}
			&__5{
				margin-bottom:50px;
			}
			&__6{
				margin-bottom:50px;
			}
			&__8{
				margin-top:100px;
			}
		}
		.mbt{
			&__8{
				justify-content: center;
				flex-direction: column;
				align-items: center;
				a{
					&:first-child{
						margin-right: 0!important;
						margin-bottom:30px;
					}
				}
			}
			&__4{
				margin-bottom: 0;
			}
			&__5{
				margin-top: 0;
				padding-bottom: 0;
			}
			&__9{
				span{
					font-size:26px;
				}
			}
			&__10{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				a{
					&:first-child{
						margin-right: 0!important;
						margin-bottom: 20px;
					}
				}
			}
		}
		.kilo{
			&__6{
				text-align: center;
			}
		}
		.kilo-img{
			display: block;
			width: 100%;
height: auto;
margin-bottom: 70px;
		}
		.gen__quote{
			font-size: 26px;
		}
	}
	@media (min-width: 768px) {
		.img-mobile {
			display: none;
		}
		.img-web {
			display: initial;
		}
	}
	@media (max-width: 768px) {
		.img-mobile {
			display: initial;
		}
		.img-web {
			display: none;
		}
		.subpage-header{
			&--checkout{
				background-image: url(../img/checkout-mobile.webp);
			}
		  }
		.microbiome-analysis{
			background:none!important;;
			height: auto;
			padding-top: 70px!important;
			.microbiome-analysis-bg-mobile{
				display: block;
			}
			.mictobiome-balance-mobile{
				display: block;
			}
		}
		.microbiome{
			&__right{
				display: none;
			}
		}
		.enbiosis-offer{
			background-image: none!important;
			.link-btn{
				font-size: 12px;
			}
		}
		.nutrition-guide{
			&__title{
				font-size: 28px;
			}

			&__infobox{
				justify-content: center;
				width: 100%;
				p{
					width: 100%;
				}
			}
			&__star{
				position: static;
				top: 0;

			}
			&__heart{
				position: static;
				top: 0;
				flex-direction: row-reverse;
				p{
					text-align: left;
				}
			}
			&__thunder{
				position: static;
				top: 0;
				bottom:0;
			}
		}
		.hipokrat{
			padding-top: 300px;
		}
		.footer__menu{
			ul{
				flex-direction: column;
				text-align: center;
			}
		}
		.sleep-quality{
			.container{
				max-width: 100%;
			}
			&__col{
				padding: 0;
			}
			&__content{
				padding-left: 20px;
				p{
					padding-right: 20px;
				}
			}
			img{
				display: block;
			}
			background-image: none!important;
			&__carousel-list{
				&__item{
					span{
						font-size: 13px;
					}
				}
			}
		}
		.buy{
			background: none;
			&__row{
				flex-direction: column-reverse;
			}
		}
		.kilo{
			&__6{
				align-items: flex-start;
    			background-position-y: top;
    			height: auto;
			}
		}
		.kisisel{
			&__5{
				margin-bottom:100px;
			}
			&__6{
				margin-bottom:100px;
			}
		}
		.mbt{
			&__3{
				margin-top:0!important;
			}
			&__5{
				margin-bottom:0;
			}
			&__6{
				margin-top:50px;
				margin-bottom: 50px;
			}
		}
	}
	@media (max-width: 1024px) {
		.microbiome{
			&__left{
				width: 100%;
			}
		}
		.microbiome-analysis{
			background-position: center;
		}
		.mictobiome-balance{
			background-position: right;
		}
		.team{
			&__member{
				&__avatar{
					width: 50%;
				}
			}
		}
		.discover-yourself{
			height: auto;
		}
		.device-ipad-pro,
	    .device-surface-studio,
	    .device-macbook-pro,
	    .device-imac-pro {
	      left: 50%;
	      transform: translateX(-50%) scale(.8);
	    }
		.kisisel{
			&__3{
				background-position-x: center;
			}
		}
		.mbt{
			&__3{
				margin-top: 100px;
			}
		}
	}

}






.iphone {
  box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.2), 0 0 0 1px #999, 0 0 30px 0px rgba(0,0,0,0.7);
  border: 5px solid #d9dbdc;
  background: #f8f8f8;
  padding: 15px;
  border-radius: 50px;
  height: 877px;
  width: 423px;
  position: relative;
  margin: 30px auto;
  margin-top: 0;
  // Scale so that the iPhone fits in view
  transform: scale(.94);
}

.iphone-top {
  padding: 5px 110px 40px;
  position: relative;
  .speaker {
    display: block;
    width: 70px;
    height: 6px;
    margin: 0 auto;
    border-radius: 6px;
    background: #292728;
  }

  .camera {
    display: block;
    margin: 0 auto;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-bottom: 13px;
    background: #333;
  }

  .sensor {
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    background: #333;
    margin-top: -5px;
    border-radius: 50%;
  }
}

.top-bar, .bottom-bar {
  display: block;
  width: 423px;
  height: 15px;


  position: absolute;
  left: -5px;
}
.top-bar {
  top: 65px;
}

.bottom-bar {
  bottom: 65px;
}

.iphone-screen {
  background: #eee;
  border: 1px solid #fff;
  height: 677px;
  width: 375px;
  margin: 0 auto;
  border: 2px solid rgba(0,0,0,0.9);
  border-radius: 3px;
  overflow: hidden;
  background-image: url('../img/iphone-bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  img {
    width: 100%;
  }
}

.buttons {
  .on-off, .up, .down, .sleep {
    display: block;
    background: #CCC;
    position: absolute;
    border-radius: 2px 0px 0px 2px;
  }
  .on-off {
    height: 40px;
    width: 3px;
    top: 100px;
    left: -8px;
  }

  .up, .down, .sleep {
    height: 60px;
    width: 5px;
    left: -10px;
  }

  .up {
    top: 170px;
  }

  .down {
    top: 250px;
  }

  .sleep {
    left: auto;
    right: -10px;
    top: 170px;
    border-radius: 0px 2px 2px 0px;
  }
}

.iphone-bottom {
  padding: 10px 0 0;
  span {
    display: block;
    margin: 0 auto;
    width: 68px;
    height: 68px;
    background: #ccc;
    border-radius: 50%;
    background: linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 60px;
      height: 60px;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      left: 4px;
      top: 4px;
    }
  }
}


@media (max-width: 600px) {
	.modal-content {
		margin-top: 30vh !important;
	}
	.device-ipad-pro,
	.device-surface-studio,
	.device-macbook-pro,
	.device-imac-pro {
		left: 50%;
		transform: translateX(-50%) scale(.6);
	}
	.dis-web {
		display: none;
	}
	.dis-mobile {
		display: initial;
	}
	.team-mobile {
		display: initial;
	}
	.team-web {
		display: none;
	}
}

@media (min-width: 600px) {
	.dis-web {
		display: initial;
	}
	.dis-mobile {
		display: none;
	}
	.team-mobile {
		display: none;
	}
	.team-web {
		display: initial;
	}
	.mt-checkout {
		margin-top: 4rem
	}
}

.break {
	word-break:break-all
}
.bg-none {
	background-image:none !important;
	height: auto !important;
	margin: 30px 0 !important;
}
.no-bg-color {
	background-color: transparent;
}
.dropdown-menu{
	min-width: 13.6rem;
}
.dropdown-menu-cozumler{
	min-width: 16.6rem !important;
}
.sub-ul {
	display: initial !important;
	cursor: pointer;
	width:100%;
	li {
		width:100%;
	}
	li:hover{
		background-color: #EEE;
	}
	span {
		margin-left: 1.3em;
		width: 100%;
	}
}
.sub-ul-mobile {
	display: initial !important;
	cursor: pointer;
	width:100%;
	li {
		width:100%;
		text-align: left !important;
	}
	li:hover{
		background-color: #EEE;
	}
	span {
		margin-left: 10px;
		width: 100%;
	}
}

.dropdown-menu-mobile {
	left: -50px !important;
	min-width:18.6rem;
}

.dropdown-menu-mobile {
	left: -50px !important;
	min-width:18.6rem;
}
.mt-checkout {
	margin-top: 5.3rem !important;
}
.mt-checkout-paketi {
	margin-top: 4.3rem !important;
}
.owl-next span,
.owl-prev span {
	font-size: 100px;
}

.cookie-consent-banner {
	position: fixed;
	bottom: -1000px;
	left: 0;
	z-index: 2147483645;
	box-sizing: border-box;
	width: 100%;
  
	background-color: #F1F6F4;
  }
  
  .cookie-consent-banner__inner {     
	max-width: 960px;
	margin: 0 auto;
	padding: 32px 5px;
  }
  
  .cookie-consent-banner__copy { 
	margin-bottom: 16px;
  }
  
  .cookie-consent-banner__actions {    
  }
  
  .cookie-consent-banner__header {
	margin-bottom: 8px;
	
	font-family: "CeraPRO-Bold", sans-serif, arial;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
  }
  
  .cookie-consent-banner__description {
	font-family: "CeraPRO-Regular", sans-serif, arial;
	font-weight: normal;
	color: #838F93;
	font-size: 16px;
	line-height: 24px;
  }
  
  .cookie-consent-banner__cta {
	box-sizing: border-box;
	display: inline-block;
	min-width: 164px;
	padding: 11px 13px;
	  
	border-radius: 2px;
	
	background-color: #58c4d9;
	 
	color: #FFF;
	text-decoration: none;
	text-align: center;
	font-family: "CeraPRO-Regular", sans-serif, arial;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
  }
  
  .cookie-consent-banner__cta--secondary { 
	background-color: #e8957e;
	color: #FFF;
  }
  
  .cookie-consent-banner__cta:hover {
	background-color: #52b5c9;
	color: #FFF;
  }
  
  .cookie-consent-banner__cta--secondary:hover {
	background-color: #ce846f;
	color: #FFF;
  }
  
  .cookie-consent-banner__cta:last-child {
	margin-left: 16px;
  }
  #timeline-content {
	margin-top: 50px;
	text-align: center;  
  }
  
//   /* Timeline */
  
.timeline-mobile {
	border-left: 4px solid #65cde6;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: rgba(0, 0, 0, 0.8);
    margin: 30px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 20px 0px 0px 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 90%;

	h1 {
	 letter-spacing: 1.5px;
	 font-weight: 100;
	 font-size: 1.4em;    
	}
	
	h2, h3 {
	 letter-spacing: 1.5px;
	 font-weight: 400;
	 font-size: 1.4em;
	}
	
	.event {
		border-bottom: 1px dashed fade(#fff, 10%);
		padding-bottom: 10px;
		margin-bottom: 10px;  
		position: relative;
	
		&:last-of-type { 
			padding-bottom: 0;
			margin-bottom: 0; 
			border: none;      
		}
	
		&:before, &:after {
			position: absolute;
			display: block;
			top: 0;
		}
	
		&:before {
			left: (((120px * 0.6) + 50px + 4px + 11px + (4px * 2)) * 1.5) * -1;    
			color: fade(#000, 80%);    
			content: attr(data-date);
			text-align: right;
			font-weight: 100;    
			font-size: 0.9em;
			min-width: 120px;
		}
	
		&:after {
			box-shadow: 0 0 0 4px fade(#65cde6,100%);    
			left: (50px + 4px + (11px * 0.35)) * -1;        
			background: lighten(#fff,5%);    
			border-radius: 50%;  
			height: 11px;
			width: 11px;
			content: "";
			top: 5px;
		}
		h2 {
			color: fade(#000, 40%);
		}
	}
}
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
//   transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #65cde6;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #e8957e;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + -130px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
//   background: white;
//   box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}
.timeline ol li div span{
	font-size: 18px
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}
.timeline-mobile-display {
	display: none;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
	.timeline {
		display: none;
	}
	.timeline-mobile-display {
		display: initial;
	}
//   .timeline ol,
//   .timeline ol li {
//     width: auto; 
//   }
  
//   .timeline ol {
//     padding: 0;
//     transform: none !important;
//   }
  
//   .timeline ol li {
//     display: block;
//     height: auto;
//     background: transparent;
//   }
  
//   .timeline ol li:first-child {
//     margin-top: 25px;
//   }
  
//   .timeline ol li:not(:first-child) {
//     margin-left: auto;
//   }
  
//   .timeline ol li div {
//     width: 94%;
//     height: auto !important;
// 	margin: 0 auto 25px;
// 	text-align: left;
	
//   }
  
//   .timeline ol li div {
// 	background: white;
// 	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
// 	text-align: left;
//     position: static;
//   }
  
//   .timeline ol li:nth-child(odd) div {
//     transform: none;
//   }
  
// //   .timeline ol li:nth-child(odd) div::before,
// //   .timeline ol li:nth-child(even) div::before {
// //     left: 50%;
// //     top: 100%;
// //     transform: translateX(-50%);
// //     border: none;
// //     border-left: 1px solid #e8957e;
// //     height: 25px;
// //   }
  
//   .timeline ol li:last-child,
//   .timeline ol li:nth-last-child(2) div::before,
//   .timeline ol li:not(:last-child)::after,
//   .timeline .arrows {
//     display: none;
//   }
}

strike {
	color: #e8957e !important;
}